Repository FedericohMartin/CTD-Proyecto_Integrador: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger_front, trigger_back

.gitlab-ci.yml:

stages:
  - triggers

trigger_front:
  stage: triggers
  trigger:
    include: front/booking/.gitlab-ci.yml
  rules:
    - changes:
      - front/**/*


trigger_back:
  stage: triggers
  trigger:
    include: back/digitalbooking-rentalcars/.gitlab-ci.yml
  rules:
    - changes:
      - back/**/*

CAEjecucion manual en triggers
  .gitlab-ci.yml
Due: none

Suspendiendo reglas en triggers
  .gitlab-ci.yml
Due: none

Cambios de referencia titulos para pipelines
  back/digitalbooking-rentalcars/.gitlab-ci.yml
Due: trigger_back

Cambios en imagen de Maven pipeline back
  back/digitalbooking-rentalcars/.gitlab-ci.yml
Due: trigger_back

DB-GR11-31: Implementar el consumo de API en el Front End del home
  front/booking/src/components/tools/Categories.jsx
  front/booking/src/styles/card.module.css
Due: trigger_front

Prueba pipelines cambios de version maven
  back/digitalbooking-rentalcars/.gitlab-ci.yml
  front/booking/.gitlab-ci.yml
Due: trigger_front, trigger_back

Detallando rutas en pipelines
  back/digitalbooking-rentalcars/.gitlab-ci.yml
  front/booking/.gitlab-ci.yml
Due: trigger_front, trigger_back

.
  back/digitalbooking-rentalcars/src/main/java/com/grupo11/digitalbooking/digitalbookingrentalcars/controller/ProductController.java
Due: trigger_back

Prueba pipeline 3000 jajajaja
  back/digitalbooking-rentalcars/.gitlab-ci.yml
  front/booking/.gitlab-ci.yml
Due: trigger_front, trigger_back

Prueba pipeline 3001 XD
  back/digitalbooking-rentalcars/.gitlab-ci.yml
  front/booking/.gitlab-ci.yml
Due: trigger_front, trigger_back

Prueba pipeline 3002 XD
  front/booking/.gitlab-ci.yml
Due: trigger_front

Prueba pipeline 3003 XD
  front/booking/package.json
Due: trigger_front

Prueba pipeline 3004 XD
  front/booking/.gitlab-ci.yml
Due: trigger_front

Prueba pipeline 3005 XD
  front/booking/.gitlab-ci.yml
Due: trigger_front

Prueba pipeline 3006 XD
  front/booking/.gitlab-ci.yml
  front/booking/package.json
Due: trigger_front

Prueba pipeline 3007 XD
  front/booking/.gitignore
  front/booking/.gitlab-ci.yml
Due: trigger_front

Prueba pipeline 3008 XD
  front/booking/.gitlab-ci.yml
  front/booking/package.json
Due: trigger_front

Se agrega endpoint para mostrar productos aleatorios
  back/digitalbooking-rentalcars/src/main/java/com/grupo11/digitalbooking/digitalbookingrentalcars/controller/CityController.java
  back/digitalbooking-rentalcars/src/main/java/com/grupo11/digitalbooking/digitalbookingrentalcars/controller/FeatureController.java
  back/digitalbooking-rentalcars/src/main/java/com/grupo11/digitalbooking/digitalbookingrentalcars/controller/ImageController.java
  back/digitalbooking-rentalcars/src/main/java/com/grupo11/digitalbooking/digitalbookingrentalcars/controller/ProductController.java
  back/digitalbooking-rentalcars/src/main/java/com/grupo11/digitalbooking/digitalbookingrentalcars/controller/ProductFeatureController.java
  back/digitalbooking-rentalcars/src/main/java/com/grupo11/digitalbooking/digitalbookingrentalcars/model/Image.java
  back/digitalbooking-rentalcars/src/main/java/com/grupo11/digitalbooking/digitalbookingrentalcars/model/Product.java
  back/digitalbooking-rentalcars/src/main/java/com/grupo11/digitalbooking/digitalbookingrentalcars/model/dto/ProductDTO.java
  back/digitalbooking-rentalcars/src/main/java/com/grupo11/digitalbooking/digitalbookingrentalcars/repository/ProductRepository.java
  back/digitalbooking-rentalcars/src/main/java/com/grupo11/digitalbooking/digitalbookingrentalcars/service/impl/CityServiceImpl.java
  back/digitalbooking-rentalcars/src/main/java/com/grupo11/digitalbooking/digitalbookingrentalcars/service/impl/FeatureServiceImpl.java
  back/digitalbooking-rentalcars/src/main/java/com/grupo11/digitalbooking/digitalbookingrentalcars/service/impl/ImageServiceImpl.java
  back/digitalbooking-rentalcars/src/main/java/com/grupo11/digitalbooking/digitalbookingrentalcars/service/impl/ProductFeatureServiceImpl.java
  back/digitalbooking-rentalcars/src/main/java/com/grupo11/digitalbooking/digitalbookingrentalcars/service/impl/ProductServiceImpl.java
  back/digitalbooking-rentalcars/src/main/java/com/grupo11/digitalbooking/digitalbookingrentalcars/service/interfaces/ProductFeatureService.java
  back/digitalbooking-rentalcars/src/main/java/com/grupo11/digitalbooking/digitalbookingrentalcars/service/interfaces/ProductService.java
  back/digitalbooking-rentalcars/src/main/resources/application.properties
Due: trigger_back

Prueba pipeline 3009 XD
  front/booking/.gitlab-ci.yml
Due: trigger_front

Prueba pipeline 3010 XD
  front/booking/.gitlab-ci.yml
Due: trigger_front

Prueba pipeline 3011 XD
  front/booking/.gitlab-ci.yml
Due: trigger_front

cambios back team 11
  back/digitalbooking-rentalcars/.gitlab-ci.yml
Due: trigger_back

cambios back 02 team 11
  back/digitalbooking-rentalcars/.gitlab-ci.yml
Due: trigger_back

cambios back 03 team 11
  back/digitalbooking-rentalcars/.gitlab-ci.yml
Due: trigger_back

cambios back 04 team 11
  back/digitalbooking-rentalcars/pom.xml
Due: trigger_back

cambios back 05 team 11
  back/digitalbooking-rentalcars/pom.xml
Due: trigger_back

cambios back team 11 A01
  back/digitalbooking-rentalcars/pom.xml
Due: trigger_back

cambios back team 11 A02
  back/digitalbooking-rentalcars/pom.xml
Due: trigger_back

para arreglar
  front/booking/package-lock.json
  front/booking/src/components/tools/Searchbox.jsx
  front/booking/src/services/citiesService.js
Due: trigger_front

cambios back team 11 A03
  back/digitalbooking-rentalcars/.gitlab-ci.yml
Due: trigger_back

Se refactoriza proyecto y eliminan comentarios
  back/digitalbooking-rentalcars/src/main/java/com/grupo11/digitalbooking/digitalbookingrentalcars/controller/CityController.java
  back/digitalbooking-rentalcars/src/main/java/com/grupo11/digitalbooking/digitalbookingrentalcars/controller/FeatureController.java
  back/digitalbooking-rentalcars/src/main/java/com/grupo11/digitalbooking/digitalbookingrentalcars/controller/ProductController.java
  back/digitalbooking-rentalcars/src/main/java/com/grupo11/digitalbooking/digitalbookingrentalcars/model/Product.java
  back/digitalbooking-rentalcars/src/main/java/com/grupo11/digitalbooking/digitalbookingrentalcars/repository/ProductRepository.java
  back/digitalbooking-rentalcars/src/main/java/com/grupo11/digitalbooking/digitalbookingrentalcars/service/impl/CityServiceImpl.java
  back/digitalbooking-rentalcars/src/main/java/com/grupo11/digitalbooking/digitalbookingrentalcars/service/impl/FeatureServiceImpl.java
  back/digitalbooking-rentalcars/src/main/java/com/grupo11/digitalbooking/digitalbookingrentalcars/service/impl/ImageServiceImpl.java
  back/digitalbooking-rentalcars/src/main/java/com/grupo11/digitalbooking/digitalbookingrentalcars/service/impl/ProductFeatureServiceImpl.java
  back/digitalbooking-rentalcars/src/main/java/com/grupo11/digitalbooking/digitalbookingrentalcars/service/impl/ProductServiceImpl.java
  back/digitalbooking-rentalcars/src/main/java/com/grupo11/digitalbooking/digitalbookingrentalcars/service/interfaces/ProductService.java
Due: trigger_back

cambios back team 11 A04
  back/digitalbooking-rentalcars/.gitlab-ci.yml
  back/digitalbooking-rentalcars/pom.xml
Due: trigger_back

JDK 18.0.2-ea - Maven 3.8.6 en POM y pipeline
  back/digitalbooking-rentalcars/.gitlab-ci.yml
  back/digitalbooking-rentalcars/pom.xml
Due: trigger_back

image: maven:3.8.6-jdk-18 en pipeline back
  back/digitalbooking-rentalcars/.gitlab-ci.yml
Due: trigger_back

image: maven:3.8.6 sin el JDK en pipeline back
  back/digitalbooking-rentalcars/.gitlab-ci.yml
Due: trigger_back

prueba subir repo C
  front/booking/.gitlab-ci.yml
Due: trigger_front

cambiando yarn por npm en pipeline front
  front/booking/.gitlab-ci.yml
Due: trigger_front

fix cityMapper
  front/booking/src/components/tools/Searchbox.jsx
Due: trigger_front

solucionando errores nmp install en pipeline front
  front/booking/.gitlab-ci.yml
Due: trigger_front

npm audit fix --force en pipeline front
  front/booking/.gitlab-ci.yml
Due: trigger_front
